<section class="title-container full-width-container">
	<header class="titlebar flex-center">
		<img src="logo.png" class="logo-format" alt="Enlightit">
    </header>
    <section class="flexie">
        <ul class="flexie">
            <li class="btndecoration"><a href="/auth/logout" class="nolink">Logout</a></li>
            <li class="btndecoration"><a href="/dashboard" class="nolink">Dasboard</a></li>
            <li class="btndecoration"><a href="/stories" class="nolink">Article</a></li>
        </ul>
    </section>
</section>
