<html>
	<head>
		<title>
			EnlightIT
		</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{{>_header}}
		{{>_add_btn}}
		<div>
        	{{{body}}}
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.0/ckeditor.js" 
		integrity="sha512-7My1gsUz5JUQgT8+P0sHKaPel/77X3zjGZsXbTS8Y7MhDEJ+f9xg9H+pPzONFL5djye0zWLlxFLApGsWQ1gdfA==" 
		crossorigin="anonymous">
		</script>
		<script>
			CKEDITOR.replace('body', {
				plugins: 'wysiwygarea, toolbar, basicstyles, link'
			})
		</script>
	</body>
</html>