<section class="title-container flex-center full-width-container">
	<header class="titlebar flex-center">
		<a href="/"><img src="logo.png" class="logo-format"></a>
	</header>
</section>
	<section class="login-container flex-center">
		<section class="logintext flex-center full-width-container flex-column">
			<h1 class="title-size">Login</h1><br>
			<p>Welcome to the EnlightIT.</p>
			<p class="center-align">Please login using your Google account to continue.</p>
		</section>
		<section class="flex-center">
			<a href="/auth/google">
				<img  class="loginbtn" src="login.jpg" alt="Image not coming. Click me!">
			</a> 
	</section>
</section>